<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pochta_rossii?useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">andrei-belkin</property>
        <property name="hibernate.connection.password">password123</property>

        <mapping class="ru.andreibelkin.pochtarossii.entity.Destination"/>
        <mapping class="ru.andreibelkin.pochtarossii.entity.MailPost"/>
        <mapping class="ru.andreibelkin.pochtarossii.entity.Receiver"/>
        <mapping class="ru.andreibelkin.pochtarossii.entity.Shipment"/>
        <mapping class="ru.andreibelkin.pochtarossii.entity.ShippingEvent"/>
    </session-factory>
</hibernate-configuration>
